# =====================
# OS / IDE
# =====================
.DS_Store
.idea/
.vscode/

# =====================
# Node / Frontend
# =====================
node_modules/
dist/

# =====================
# .NET
# =====================
bin/
obj/

# =====================
# SQLite (IMPORTANT)
# =====================
*.db
*.db-shm
*.db-wal


appsettings.Development.json

