.about-section {
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 220px;
}

.about-container {
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 4rem;
  position: relative;
  z-index: 2;
}

.about-image img {
  width: 380px;
  height: auto;
  border-radius: 4px;
  object-fit: cover;
}

/* Text styling */
.about-text {
  max-width: 520px;
}


.about-text p {
  line-height: 1.7;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

/* flower overlay */
.about-layover {
  position: absolute;
  left: 50%;
  top: 0%;                 /* adjust this to move it up/down */
  transform: translateX(-50%);
  width: 350px;               /* adjust size */
  height: auto;
  opacity: 0.3;

  z-index: 999;               /* on top of everything */
  pointer-events: none;
}

.about-layover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive: stack on mobile */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    width: 300px;
  }

  .about-text {
    max-width: 100%;
  }

  
}


 