/* #root {
  width: 100%;
  margin: 0;
  padding: 0;

} */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FFF9F2;
}

#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  background-color: #FFF9F2;
}
