
/* Media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Links inherit your style unless overridden */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.85;
} */
